@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
margin:70px;
margin-top:0;
padding:2em;
background-color:#F4F4F4;
font-family: sans-serif;
}

h1,h2{
font-family:"Space Mono";
color:#cb158f;
}


h3{
font-family:"Open Sans";
font-size:1em;
}

#container{
display:grid;
grid-template-columns: 1fr 2fr;
gap:5em;
align-items: start;
}

.intro{
display: flex;
flex-direction: column;
justify-content:  center;
}

.intro p{
    font-family:"Open Sans";
    text-align: justify;
    line-height:1.5;
}

.intro button{
    font-family: "Space Mono";
    font-size: 1em;
    padding: 15px 45px;
    margin-top: 1em;
}

.intro a{
    align-self: center;
    margin-top: 1em;
}

.proyectos{
    display: flex;
    flex-direction:column;
}

.galeria{
display:grid;
grid-template-columns: repeat(4,1fr);
gap: 1.5em;
}

.tarjeta {
background-color: white;
border-radius: 8px;
overflow: hidden;
}

.tarjeta a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}

.tarjeta a:hover{
    
}